#include <windows.h>
#include <commctrl.h>
#include "resource.h"

1 24 "tpkb.manifest"

IDI_APP       ICON "icon-run.ico"
IDI_TRAY_RUN  ICON "icon-run.ico"
IDI_TRAY_STOP ICON "icon-stop.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    3,0,1,0
PRODUCTVERSION 3,0,1,0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      0
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "TrackPoint Keyboard Helper"
            VALUE "FileVersion", "3.0.1.0"
            VALUE "InternalName", "tpkb"
            VALUE "LegalCopyright", "Copyright (c) 2026 Li Ruijie"
            VALUE "OriginalFilename", "tpkb.exe"
            VALUE "ProductName", "tpkb"
            VALUE "ProductVersion", "3.0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END

/* ========== Settings dialog pages ========== */

IDD_PAGE_GENERAL DIALOGEX 0, 0, 260, 200
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | DS_CONTROL
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Trigger", -1, 7, 4, 246, 58
    LTEXT           "Trigger:", -1, 14, 18, 40, 8
    COMBOBOX        IDC_TRIGGER_COMBO, 56, 16, 120, 200, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "Send MiddleClick", IDC_SEND_MIDDLE_CLICK, 14, 34, 110, 10
    AUTOCHECKBOX    "Dragged Lock", IDC_DRAGGED_LOCK, 14, 48, 110, 10

    GROUPBOX        "Hotkey", -1, 7, 66, 246, 42
    AUTOCHECKBOX    "Enable", IDC_KEYBOARD_ENABLE, 14, 80, 50, 10
    LTEXT           "VK Code:", -1, 70, 80, 36, 8
    COMBOBOX        IDC_VK_COMBO, 110, 78, 136, 200, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "System", -1, 7, 112, 246, 60
    LTEXT           "Priority:", -1, 14, 128, 40, 8
    COMBOBOX        IDC_PRIORITY_COMBO, 56, 126, 80, 80, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "Health check interval:", -1, 14, 148, 70, 8
    EDITTEXT        IDC_HOOK_HEALTH_EDIT, 86, 146, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_HOOK_HEALTH_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0
END

IDD_PAGE_SCROLL DIALOGEX 0, 0, 260, 200
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | DS_CONTROL
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Options", -1, 7, 4, 246, 48
    AUTOCHECKBOX    "Cursor Change", IDC_CURSOR_CHANGE, 14, 16, 110, 10
    AUTOCHECKBOX    "Horizontal Scroll", IDC_HORIZONTAL_SCROLL, 14, 28, 110, 10
    AUTOCHECKBOX    "Reverse Scroll", IDC_REVERSE_SCROLL, 130, 16, 110, 10
    AUTOCHECKBOX    "Swap Scroll (V/H)", IDC_SWAP_SCROLL, 130, 28, 110, 10

    GROUPBOX        "Thresholds", -1, 7, 56, 246, 108
    LTEXT           "Button press timeout:", -1, 14, 70, 70, 8
    EDITTEXT        IDC_POLL_TIMEOUT_EDIT, 90, 68, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_POLL_TIMEOUT_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0

    LTEXT           "Scroll lock time:", -1, 14, 88, 70, 8
    EDITTEXT        IDC_SCROLL_LOCK_EDIT, 90, 86, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SCROLL_LOCK_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0

    LTEXT           "Vertical threshold:", -1, 14, 106, 70, 8
    EDITTEXT        IDC_VERT_THR_EDIT, 90, 104, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_VERT_THR_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0

    LTEXT           "Horizontal threshold:", -1, 14, 124, 70, 8
    EDITTEXT        IDC_HORIZ_THR_EDIT, 90, 122, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_HORIZ_THR_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0

    LTEXT           "Drag threshold:", -1, 14, 142, 70, 8
    EDITTEXT        IDC_DRAG_THR_EDIT, 90, 140, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_DRAG_THR_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0
END

IDD_PAGE_ACCEL DIALOGEX 0, 0, 260, 200
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | DS_CONTROL
FONT 8, "MS Shell Dlg"
BEGIN
    AUTOCHECKBOX    "Enable acceleration", IDC_ACCEL_ENABLE, 7, 7, 110, 10

    GROUPBOX        "Preset", -1, 7, 22, 246, 32
    AUTORADIOBUTTON "M5", IDC_ACCEL_M5, 14, 34, 30, 10, WS_GROUP
    AUTORADIOBUTTON "M6", IDC_ACCEL_M6, 54, 34, 30, 10
    AUTORADIOBUTTON "M7", IDC_ACCEL_M7, 94, 34, 30, 10
    AUTORADIOBUTTON "M8", IDC_ACCEL_M8, 134, 34, 30, 10
    AUTORADIOBUTTON "M9", IDC_ACCEL_M9, 174, 34, 30, 10

    GROUPBOX        "Custom", -1, 7, 58, 246, 114
    AUTOCHECKBOX    "Use custom table", IDC_CUSTOM_ENABLE, 14, 70, 110, 10
    LTEXT           "Thresholds (comma-separated):", -1, 14, 86, 130, 8
    EDITTEXT        IDC_CUSTOM_THRESHOLD, 14, 96, 232, 28, ES_AUTOHSCROLL | ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    LTEXT           "Multipliers (comma-separated):", -1, 14, 128, 130, 8
    EDITTEXT        IDC_CUSTOM_MULTIPLIER, 14, 138, 232, 28, ES_AUTOHSCROLL | ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
END

IDD_PAGE_REALWHEEL DIALOGEX 0, 0, 260, 200
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | DS_CONTROL
FONT 8, "MS Shell Dlg"
BEGIN
    AUTOCHECKBOX    "Enable real wheel mode", IDC_REALWHEEL_ENABLE, 7, 7, 130, 10

    LTEXT           "Wheel delta:", -1, 14, 28, 60, 8
    EDITTEXT        IDC_WHEEL_DELTA_EDIT, 80, 26, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_WHEEL_DELTA_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0

    LTEXT           "Vertical speed:", -1, 14, 46, 60, 8
    EDITTEXT        IDC_VWHEEL_MOVE_EDIT, 80, 44, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_VWHEEL_MOVE_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0

    LTEXT           "Horizontal speed:", -1, 14, 64, 60, 8
    EDITTEXT        IDC_HWHEEL_MOVE_EDIT, 80, 62, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_HWHEEL_MOVE_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0

    AUTOCHECKBOX    "Quick first scroll", IDC_QUICK_FIRST, 14, 84, 110, 10
    AUTOCHECKBOX    "Quick direction change", IDC_QUICK_TURN, 14, 98, 110, 10
END

IDD_PAGE_VHADJ DIALOGEX 0, 0, 260, 200
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | DS_CONTROL
FONT 8, "MS Shell Dlg"
BEGIN
    AUTOCHECKBOX    "Enable VH adjuster", IDC_VH_ENABLE, 7, 7, 110, 10

    GROUPBOX        "Method", -1, 7, 22, 246, 30
    AUTORADIOBUTTON "Fixed", IDC_VH_FIXED, 14, 34, 50, 10, WS_GROUP
    AUTORADIOBUTTON "Switching", IDC_VH_SWITCHING, 74, 34, 60, 10

    AUTOCHECKBOX    "Prefer vertical first", IDC_VH_FIRST_VERT, 14, 60, 110, 10

    LTEXT           "Min. threshold:", -1, 14, 80, 80, 8
    EDITTEXT        IDC_FIRST_MIN_EDIT, 100, 78, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_FIRST_MIN_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0

    LTEXT           "Switching threshold:", -1, 14, 98, 80, 8
    EDITTEXT        IDC_SWITCHING_EDIT, 100, 96, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SWITCHING_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0
END

IDD_PAGE_KEYBOARD DIALOGEX 0, 0, 260, 200
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | DS_CONTROL
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Character repeat", -1, 7, 4, 246, 47

    LTEXT           "Repeat delay:", -1, 14, 18, 70, 8
    EDITTEXT        IDC_KB_DELAY_EDIT, 90, 16, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_KB_DELAY_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0
    LTEXT           "(0-3)", -1, 134, 18, 30, 8

    LTEXT           "Repeat speed:", -1, 14, 34, 70, 8
    EDITTEXT        IDC_KB_SPEED_EDIT, 90, 32, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_KB_SPEED_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0
    LTEXT           "(0-31)", -1, 134, 34, 30, 8

    AUTOCHECKBOX    "Enable Filter Keys", IDC_FK_ENABLE, 7, 54, 80, 10
    AUTOCHECKBOX    "Lock (reapply on startup)", IDC_FK_LOCK, 90, 54, 110, 10

    GROUPBOX        "Filter Keys timing", -1, 7, 68, 246, 87

    LTEXT           "Acceptance delay:", -1, 14, 84, 70, 8
    EDITTEXT        IDC_FK_ACCEPT_EDIT, 90, 82, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_FK_ACCEPT_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0
    LTEXT           "ms", -1, 134, 84, 12, 8

    LTEXT           "Repeat delay:", -1, 14, 102, 70, 8
    EDITTEXT        IDC_FK_DELAY_EDIT, 90, 100, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_FK_DELAY_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0
    LTEXT           "ms", -1, 134, 102, 12, 8

    LTEXT           "Repeat rate:", -1, 14, 120, 70, 8
    EDITTEXT        IDC_FK_REPEAT_EDIT, 90, 118, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_FK_REPEAT_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0
    LTEXT           "ms", -1, 134, 120, 12, 8

    LTEXT           "Bounce time:", -1, 14, 138, 70, 8
    EDITTEXT        IDC_FK_BOUNCE_EDIT, 90, 136, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_FK_BOUNCE_SPIN, UPDOWN_CLASS, UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 0, 0, 0
    LTEXT           "ms", -1, 134, 138, 12, 8
END

IDD_PAGE_PROFILES DIALOGEX 0, 0, 260, 200
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | DS_CONTROL
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         IDC_PROFILE_LIST, 7, 7, 180, 140, LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Reload", IDC_PROFILE_RELOAD, 196, 7, 57, 14
    PUSHBUTTON      "Save", IDC_PROFILE_SAVE, 196, 25, 57, 14
    PUSHBUTTON      "Open Dir", IDC_PROFILE_OPENDIR, 196, 43, 57, 14
    PUSHBUTTON      "Add", IDC_PROFILE_ADD, 196, 67, 57, 14
    PUSHBUTTON      "Delete", IDC_PROFILE_DELETE, 196, 85, 57, 14
END
