#include <windows.h>

#define IDI_APP      100
#define IDI_TRAY_RUN  101
#define IDI_TRAY_STOP 102

IDI_APP       ICON "AppIcon.ico"
IDI_TRAY_RUN  ICON "TrayIcon-Run.ico"
IDI_TRAY_STOP ICON "TrayIcon-Stop.ico"
